.body {
  background-color: rgb(244, 242, 242);
  height: calc(100vh - 80px);
}

.home {
  width: 70%;
  margin: auto;
}

.search {
  font-size: 1.2rem;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 1rem;
  border-radius: 1rem;
  padding: 1rem;
}

.input {
  border-radius: 0.5rem;
  border: 1px solid rgb(255, 255, 255);
  padding: 0.5rem;
  width: 200px;
  height: 2.2rem;
}

.inputLoc {
  border-radius: 0.5rem;
  border: 1px solid rgb(178, 176, 176);
  padding: 0.5rem;
  width: 100px;
  height: 2.2rem;
}

.inputNumber {
  border-radius: 0.5rem;
  border: 1px solid rgb(178, 176, 176);
  padding: 0.5rem;
  width: 30px;
  height: 2.2rem;
}

.searchButton {
  background-color: rgb(5, 117, 236);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  width: 150px;
  font-size: 1rem;
}
.searchItem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.buttonContainerRight {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: end;
}

.DatePicker {
  background-color: white;
  width: 150px;
}

.centerDiv {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 6rem;
  border: 1px solid rgb(186, 184, 184);
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.buttonContainerCenter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.span {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.addFlightButton {
  background-color: rgb(1, 119, 255);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-top: 1rem;
}
.newFlightInput {
  border-radius: 0.5rem;
  border: 1px solid rgb(178, 176, 176);
  padding: 0.5rem;
  width: 250px;
}

.buyButton {
  background-color: rgb(1, 119, 255);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  width: 75px;
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 3rem;
}
.spanReserve {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.modalTitle {
  background-color: rgb(1, 119, 255);
  color: white;
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  padding: 1rem;
  margin: 0;
}
.reserveButton {
  background-color: rgb(1, 119, 255);
  color: white;
  padding: 1rem;
  border-radius: 1rem;
  border: none;
  cursor: pointer;
  width: 150px;
  margin-top: 1rem;
}
.inputContainerVertical {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}
.inputContainerVerticalEdit {
  background-color: rgb(255, 255, 255);
  border-radius: 1rem;
  padding: 1rem;
  display: flex;

  gap: 1rem;
}

.select {
  height: 3.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(211, 209, 209);
  width: 260px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}

.timePicker {
  height: 3.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(211, 209, 209);
  width: 260px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}

.inputContainer {
  background-color: rgb(255, 255, 255);
  display: flex;
  gap: 3rem;
}
.inputAcc {
  height: 3.5rem;
  border-radius: 0.2rem;
  border: 1px solid rgb(211, 209, 209);
  width: 250px;
  padding-left: 10px;
  background-color: rgb(239, 239, 239);
}
.newAccomodation {
  width: 80%;
  margin: auto;
}
.check {
  padding: 1rem;
  height: 1rem;
  margin: 1.35rem;
}

.accomodationsContainer {
  display: flex;
  gap: 2rem;
}
.filters {
  background-color: rgb(255, 255, 255);
  max-width: 400px;
  width: 300px;
  padding: 1rem;
  display: flex;
  align-items: left;
  justify-content: center;
  padding-top: 1rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.filter {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.filterPrice {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.propertyContainer {
  display: flex;
  margin: 1rem;
  gap: 1rem;
  border: 1px solid rgb(169, 169, 169);
  border-radius: 0.3rem;
  padding: 1rem;
  justify-content: space-between;
}

.image {
  min-width: 200px;
  min-height: 200px;
  background-color: rgb(56, 75, 150);
}
.property {
  display: flex;
  margin: 1rem;
  gap: 1rem;
}
.tableContainer {
  overflow-y: scroll;
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 100%;
  height: 570px;
}
.propertyCont {
  display: flex;
  justify-content: space-between;
}
.checkButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
}
.inputPrice {
  border-radius: 0.5rem;
  border: 1px solid rgb(178, 176, 176);
  padding: 0.5rem;
  width: 200px;
  height: 1rem;
}
.imgTitle {
  display: flex;
  gap: 1rem;
}
.pricesContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
}
.myAccContainer {
  border-radius: 1rem;
  background-color: rgb(255, 255, 255);
  padding: 1rem;
  width: 100%;
}
.propertyContainerOutstanding {
  display: flex;
  margin: 1rem;
  gap: 1rem;
  border: 1px solid rgb(12, 185, 233);
  border-radius: 0.3rem;
  padding: 1rem;
  justify-content: space-between;
  background-color: rgba(1, 216, 249, 0.1);
  box-shadow: rgba(18, 113, 116, 0.19) 0px 6px 6px,
    rgba(32, 121, 112, 0.23) 0px 6px 6px;
}
.grade {
  width: 22px;
  height: 22px;
  background-color: rgb(20, 20, 128);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-weight: 600;
  font-size: 16px;
  margin-top: -1rem;
}
.propertyPriceContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.blueText {
  color: rgb(25, 118, 210);
  font-size: 1.7rem;
}
.underlinedBlueText {
  color: rgb(11, 23, 128);
  font-size: 1.1rem;
}
