.body {
  background-color: rgb(244, 242, 242);
  height: calc(100vh - 80px);
}

.home {
  width: 60%;
  margin: auto;
  background-color: white;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 2rem;
}

.image {
  min-width: 300px;
  min-height: 300px;
  background-color: rgb(70, 97, 172);
}
.container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}
.imgTitle {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.priceDate {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}
.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 2rem 3rem;
}
.spanReserve {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.topContainer {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}
.blueText {
  color: rgb(25, 118, 210);
  font-size: 1.7rem;
}
.underlinedBlueText {
  color: rgb(2, 18, 168);
  font-size: 1.1rem;
}

.priceReserveContainer {
  display: flex;
  justify-content: space-between;
}

.reserve {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.benefits {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0.5rem;
}
.gridItem {
  background-color: rgba(255, 255, 255, 0.8);

  padding: 15px;

  text-align: center;
}

.modalTitle {
  background-color: rgb(28, 62, 153);
  color: white;
  border-radius: 0.75rem 0.75rem 0rem 0rem;
  padding: 1rem;
  margin: 0;
}
.styledTable thead tr {
  background-color: rgb(28, 62, 153);
  color: #ffffff;
  text-align: left;
}

.styledTable th,
.styledTable td {
  padding: 1rem 1rem;
}
.styledTable th {
  font-size: 1rem;
  font-weight: 400;
}

.styledTable tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styledTable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styledTable tbody tr:nth-of-type(odd) {
  background-color: #ffffff;
}

.styledTable tbody tr:last-of-type {
  border-bottom: 1px solid var(--darkGreen);
}

.styledTable {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 400px;
  table-layout: fixed;
  border-radius: 1rem;
  overflow: hidden;
}
